* {
	padding: 0;
	margin: 0;
}
html {
	font-family: Arial;
}


.header {
	background-color: #4779FB;
}

.header .menu {
	display: flex;
	flex-flow: row nowrap;
}

p {
	color: red;
}

.slavik {
	margin-top: 0px;
}